<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="SVMHS Inteleviewer Customisations" Language="1033" Version="1.1.0" Manufacturer="SVHA" UpgradeCode="{fba7a7fb-c387-4278-839b-650ca379f188}">
        <Package Description="Installer for SVMHS Inteleviewer customisations" Manufacturer="SVHA" InstallerVersion="200" Compressed="yes" Platform="x64" />
        <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
        <Property Id="ALLUSERS" Value="1" />
        <Property Id="WIN101607" Value="0" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramMenuFolder" Name="ProgramMenuFolder">
            </Directory>
            <Directory Id="ProgramFiles64Folder" Name="ProgramFiles64Folder">
                <Directory Id="dir_SVHA" Name="SVHA">
                    <Component Id="cmp_InteleviewerSVMHSps1" Guid="*" Win64="yes">
                        <File Id="fil_InteleviewerSVMHSps1" Name="Write-SVMHSInteleviewerEntries.ps1" DiskId="1" Source="files\Write-SVMHSInteleviewerEntries.ps1" />
                    </Component>
                    <Component Id="cmp_InteleviewerSVMHSvbs" Guid="*" Win64="yes">
                        <File Id="fil_InteleviewerSVMHSvbs" Name="LaunchSVMHSInteleviewerEntries.vbs" DiskId="1" Source="files\LaunchSVMHSInteleviewerEntries.vbs" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <DirectoryRef Id="TARGETDIR">
        </DirectoryRef>
        <CustomAction Id="CreateScheduledTask_AtLogon_CreateInteleviewerKeysSVMHS" Return="check" Impersonate="no" Execute="deferred" Directory="TARGETDIR" ExeCommand="&quot;[SystemFolder]schtasks.exe&quot; /create /sc onlogon /tn AtLogon_CreateInteleviewerKeysSVMHS /TR &quot;wscript 'C:\Program Files\SVHA\LaunchSVMHSInteleviewerEntries.vbs'&quot; /it /ru interactive /f">
        </CustomAction>
        <CustomAction Id="RemoveScheduledTask_AtLogon_CreateInteleviewerKeysSVMHS" Return="ignore" Directory="ProgramFiles64Folder" ExeCommand="&quot;[SystemFolder]schtasks.exe&quot; /delete /tn AtLogon_CreateInteleviewerKeysSVMHS /F">
        </CustomAction>
        <InstallExecuteSequence>
            <Custom Action="CreateScheduledTask_AtLogon_CreateInteleviewerKeysSVMHS" After="InstallFiles">NOT Installed</Custom>
            <Custom Action="RemoveScheduledTask_AtLogon_CreateInteleviewerKeysSVMHS" Before="RemoveFiles">Installed</Custom>
        </InstallExecuteSequence>
        <Feature Id="SVMHSInteleviewerReg" Title="SVMHS Inteleviewer Customisations" Level="1">
            <ComponentRef Id="cmp_InteleviewerSVMHSps1" />
            <ComponentRef Id="cmp_InteleviewerSVMHSvbs" />
        </Feature>
    </Product>
</Wix>

